name: Test

on: [push]

jobs:
  test:
    uses: snapshot-labs/actions/.github/workflows/test.yml@main
    secrets: inherit
    with:
      mysql_database_name: snapshot_sequencer_test
      mysql_schema_path: 'test/schema.sql'
      redis: true
      dotenv_vars: 'RATE_LIMIT_DATABASE_URL=redis://localhost:6379'
